html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 100%;
  margin: 0;
  background-color: white;
  font-size: 1.1em;
  color: dimgray;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  width: inherit;
}

h1 {
  font-size: 3.3em;
  color: white;
  text-align: center;
  z-index: 1;
}

h2 {
  font-size: 2em;
  color: black;
  text-align: center;
}

a {
  color: black;
}

header {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}
@media (max-width: 480px) {
  header {
    min-height: 20em;
    margin-bottom: 2em;
  }
}
@media (min-width: 481px) {
  header {
    min-height: 25em;
    margin-bottom: 4em;
  }
}
@media (min-width: 769px) {
  header {
    min-height: 30em;
    margin-bottom: 5em;
  }
}
header > nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  width: 100%;
  height: 5em;
  padding: 0 1em 0 1em;
}
@media (max-width: 480px) {
  header > nav {
    flex-flow: column nowrap;
    height: auto;
    padding: 1em;
  }
}
header > nav .logo {
  margin: 0;
  flex-grow: 1;
}
@media (max-width: 480px) {
  header > nav .logo {
    flex-grow: 0;
    margin-bottom: 0.3em;
  }
}
header > nav .logo > img {
  margin-top: 0.2em;
  height: 3em;
}
header > nav a {
  display: block;
  font-weight: bold;
  text-decoration: none;
  margin: 0 1em 0 1em;
}
@media (max-width: 480px) {
  header > nav a {
    margin: 0.2em;
  }
}
header > nav a:hover {
  color: #ff0101;
}
header > .header-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  background: url("/assets/header.jpg") center no-repeat;
  flex-grow: 1;
}
header .profile-picture {
  position: absolute;
  border-radius: 50%;
  border: 5px solid white;
  z-index: 1;
}
@media (max-width: 480px) {
  header .profile-picture {
    height: 4em;
    width: 4em;
    bottom: -2em;
  }
}
@media (min-width: 481px) {
  header .profile-picture {
    height: 8em;
    width: 8em;
    bottom: -4em;
  }
}
@media (min-width: 769px) {
  header .profile-picture {
    height: 10em;
    width: 10em;
    bottom: -5em;
  }
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  width: 100%;
}
@media (max-width: 480px) {
  .content-wrapper > section {
    width: 100%;
  }
}
@media (min-width: 481px) {
  .content-wrapper > section {
    width: 80%;
  }
}
@media (min-width: 769px) {
  .content-wrapper > section {
    width: 65%;
  }
}
@media (max-width: 480px) {
  .content-wrapper p {
    padding: 0 10% 0 10%;
  }
}
@media (min-width: 481px) {
  .content-wrapper p {
    padding: 0 20% 0 20%;
  }
}
@media (min-width: 769px) {
  .content-wrapper p {
    padding: 0 30% 0 30%;
  }
}
.content-wrapper .italic {
  font-style: italic;
}
.content-wrapper .outset > p {
  margin: 2em 0 2em 0;
}
.content-wrapper .outset > .floating-image {
  width: 100%;
}
@media (max-width: 480px) {
  .content-wrapper .content .floating-image {
    width: 100%;
    margin-bottom: 1em;
  }
}
@media (min-width: 481px) {
  .content-wrapper .content .floating-image {
    width: 100%;
    margin-bottom: 1em;
  }
}
@media (min-width: 769px) {
  .content-wrapper .content .floating-image {
    width: 10em;
    height: 10em;
    margin: 1em;
    float: right;
  }
}
.content-wrapper .video-gallery {
  display: grid;
  column-gap: 1em;
  justify-items: center;
  margin: 3em 0 2em 0;
}
@media (max-width: 480px) {
  .content-wrapper .video-gallery {
    grid-template-columns: 1fr;
    padding: 0 2em 0 2em;
    margin: 1em;
  }
}
@media (min-width: 481px) {
  .content-wrapper .video-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 769px) {
  .content-wrapper .video-gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}
.content-wrapper .video-gallery .thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.content-wrapper .video-gallery p.description {
  text-align: center;
  padding: 0.5em;
}
.content-wrapper .video-gallery a {
  position: relative;
}
.content-wrapper .video-gallery .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1em;
  height: 1em;
  font-size: 3.3em;
  border-radius: 50%;
  color: white;
  z-index: 1;
  transition: all linear 1s;
}
.content-wrapper .video-gallery .thumbnail:hover .fa {
  transform: translate(-50%, -50%) scale(2);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  width: 100%;
  height: 7em;
  background-color: #e6e6e6;
}
footer > .fa {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.3em;
  height: 0.3em;
  padding: 1em;
  margin: 0 0.2em 0 0.2em;
  font-size: 1em;
  text-decoration: none;
  border-radius: 50%;
  background: dimgray;
  color: #e6e6e6;
}
footer > .fa:hover {
  opacity: 0.7;
}

.blurred-image {
  overflow: hidden;
}
.blurred-image > img {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  width: 105%;
  height: 105%;
  margin: -5%;
}

.overlay {
  position: relative;
  width: 100%;
  height: 100%;
}
.overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.5);
}

/*# sourceMappingURL=styles.css.map */
