// VARIABLES FOR COLORS
$primary-background-color: rgb(255, 255, 255);
$secondary-background-color: rgb(230, 230, 230);

$primary-headline-color: rgb(255, 255, 255);
$secondary-headline-color: rgb(0, 0, 0);
$primary-text-color: rgb(105, 105, 105);
$secondary-text-color: rgb(0, 0, 0);

$icon-color: rgb(230, 230, 230);
$icon-background-color: rgb(105, 105, 105);

$logo-color: rgb(255, 1, 1);

// VARIABLES FOR FONT SIZES
$font-size-headline: 3.3em;
$font-size-perex: 2em;
$font-size-icon: 1em;
$font-size-default: 1.1em;

// OTHER VARIABLES
$blur-value: 5px;

// MEDIA QUERIES VIA MIXINS
@mixin phone-view {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin ipad-view {
  @media (min-width: 481px) {
    @content;
  }
}

@mixin desktop-view {
  @media (min-width: 769px) {
    @content;
  }
}

// OTHER MIXINS
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin blurred-image {
  filter: blur($blur-value);
  -webkit-filter: blur($blur-value);
  -moz-filter: blur($blur-value);
  -o-filter: blur($blur-value);
  -ms-filter: blur($blur-value);
}

// GLOBAL STYLES
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 100%;
  margin: 0;
  background-color: $primary-background-color;
  font-size: $font-size-default;
  color: $primary-text-color;
}

main {
  @include flex-center;
  flex-flow: column wrap;
  width: inherit;
}

h1 {
  font-size: $font-size-headline;
  color: $primary-headline-color;
  text-align: center;
  z-index: 1; // for visibility over image overlay
}

h2 {
  font-size: $font-size-perex;
  color: $secondary-headline-color;
  text-align: center;
}

a {
  color: $secondary-text-color;
}

// CLASSES
header {
  min-width: 100%;
  margin-bottom: 4em;

  // HEADER MEDIA QUERIES
  @include phone-view {
    height: 20em;
  }
  @include ipad-view {
    height: 25em;
  }
  @include desktop-view {
    height: 30em;
  }

  // HEADER NAV
  > nav {
    @include flex-center;
    flex-flow: row nowrap;
    width: 100%;
    height: 5em;
    padding: 0 1em 0 1em;

    @include phone-view {
      flex-flow: column nowrap;
      height: auto;
      padding: 1em;
    }

    // NAV LOGO
    .logo {
      margin: 0;
      flex-grow: 1;

      @include phone-view {
        flex-grow: 0;
        margin-bottom: 0.3em;
      }
    }

    .logo > img {
      margin-top: 0.2em;
      height: 3em;
    }

    // NAV LINKS
    a {
      display: block;
      font-weight: bold;
      text-decoration: none;
      margin: 0 1em 0 1em;

      @include phone-view {
        margin: 0.2em;
      }

      &:hover {
        color: $logo-color;
      }
    }
  }

  // HEADER IMAGE
  > .header-image {
    @include flex-center;
    width: 100%;
    background: url("/assets/header.jpg") center no-repeat;
  }
}

// CONTENT OF THE PAGE
.content-wrapper {
  @include flex-center;
  flex-flow: column wrap;
  width: 100%;

  // CONTENT MEDIA QUERIES
  > section {
    @include phone-view {
      width: 100%;
    }
    @include ipad-view {
      width: 80%;
    }
    @include desktop-view {
      width: 65%;
    }
  }

  // CONTENT TEXT
  p {
    @include phone-view {
      padding: 0 10% 0 10%;
    }
    @include ipad-view {
      padding: 0 20% 0 20%;
    }
    @include desktop-view {
      padding: 0 30% 0 30%;
    }
  }

  .italic {
    font-style: italic;
  }

  // CONTENT OUTSET (FIRST SECTION)
  .outset > p {
    margin: 3em 0 2em 0;
  }

  .outset > .floating-image {
    width: 100%;
  }

  // CONTENT FLOATING IMAGE
  .content .floating-image {
    @include phone-view {
      width: 100%;
      margin-bottom: 1em;
    }
    @include ipad-view {
      width: 100%;
      margin-bottom: 1em;
    }
    @include desktop-view {
      width: 10em;
      height: 10em;
      margin: 1em;
      float: right;
    }
  }

  // CONTENT VIDEO GALLERY
  .video-gallery {
    display: grid;
    column-gap: 1em;
    justify-items: center;
    margin: 3em 0 2em 0;

    // VIDEO GALLERY MEDIA QUERIES
    @include phone-view {
      grid-template-columns: 1fr;
      padding: 0 2em 0 2em;
      margin: 1em;
    }
    @include ipad-view {
      grid-template-columns: repeat(2, 1fr);
    }
    @include desktop-view {
      grid-template-columns: repeat(4, 1fr);
    }

    .thumbnail {
      @include flex-center;
      height: auto;
    }

    p.description {
      text-align: center;
      padding: 0.5em;
    }

    a {
      position: relative;
    }

    .fa {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1em;
      height: 1em;
      font-size: $font-size-headline;
      border-radius: 50%;
      color: $primary-headline-color;
      z-index: 1;
      transition: all linear 1s;
    }

    .thumbnail:hover .fa {
      transform: translate(-50%, -50%) scale(2);
    }
  }
}

footer {
  @include flex-center;
  flex-flow: row nowrap;
  width: 100%;
  height: 7em;
  background-color: $secondary-background-color;

  // SOCIAL MEDIA ICONS
  > .fa {
    @include flex-center;
    width: 0.3em;
    height: 0.3em;
    padding: 1em;
    margin: 0 0.2em 0 0.2em;
    font-size: $font-size-icon;
    text-decoration: none;
    border-radius: 50%;
    background: $icon-background-color;
    color: $icon-color;
  }

  > .fa:hover {
    opacity: 0.7;
  }
}

// BLURRED IMAGE
.blurred-image {
  overflow: hidden;

  > img {
    @include blurred-image;
    width: 105%;
    height: 105%;
    margin: -5%;
  }
}

// IMAGE OVERLAY
.overlay {
  position: relative;
  width: 100%;
  height: 100%;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: rgb(0, 0, 0, 0.5);
  }
}
